<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
	 <title>
		 {% block title %}
		 Hello
		 {% endblock %}
	 </title>
</head>
<body>
	 <div class="header">
		 Hello World from render!
		 <ul type="circle">Микро менюшка чисто для удобства
			<li><a href='/universityInfo'>UniversityInfo</a></li>
			<li><a href='/disciplineInfo'>disciplineInfo</a></li>
			<li><a href='/groupsInfo'>groupsInfo</a></li>
			<li><a href='/departmentsInfo'>departmentsInfo</a></li>
			<li><a href='/universityStructure'>universityStructure</a></li>
		 </ul>
	 </div>
</body>
</html>