<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Инфа об универе</title>
</head>
<body>
	<pre>
	Университет: {{json.university}}
	Ректор: {{json.rector}}
	Местоположение: {{json.location.index}}, {{json.location.city}}, {{json.location.adress}}
	Кол-во административных подразделений: {{administrative}}
	Кол-во научно-образовательных подразделений: {{science_edu}}
	Кол-во мегафакультетов: {{mega_facs}}
	Кол-во факультетов: {{facs}}
	Кол-во кафедр: {{cafedras}}
	Кол-во студентов: {{student}}
	</pre>
	}
</body>
</html>